/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.register-form {
    display: flex;
    flex-direction: column;
}

/* Styles for Index Page */
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h2, h3 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 8px;
    color: #555;
}

/* Styles for Register Page */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 50px auto;
}

.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input[type="text"] {
    width: 60%;
}

.factories-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.factory-card {
    background-color: white;
    border-radius: 8px;
    width: 280px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.factory-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

/* Styles for Login Page */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}

button:hover {
    background-color: #45a049;
}

.login-form input {
    width: 90%;
}

/* Profile Container */
.profile-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 80px auto;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.profile-container div {
    display: flex;
    flex-direction: column;
}

/* Logout Link */
.logout-link {
    text-align: center;
    margin-top: 20px;
}

.logout-link a {
    color: #ff4b5c;
    text-decoration: none;
    font-weight: bold;
}

.logout-link a:hover {
    text-decoration: underline;
}

/* Admin Container */
.admin-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.table-responsive {
    overflow-x: auto;
    margin: 40px auto;
    max-width: 1000px;
    padding: 0 20px;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users-table th, .users-table td {
    padding: 15px;
    text-align: left;
}

.users-table th {
    background-color: #4CAF50;
    color: white;
}

.users-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tr:hover {
    background-color: #f1f1f1;
}

.btn-action {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn-action:hover {
    background-color: #45a049;
}

.btn-action.delete {
    background-color: #e74c3c;
}

.btn-action.delete:hover {
    background-color: #c0392b;
}

#add-chocolate-form, #add-worker-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.chocolate-factory-container table {
    width: 100%;
    border-collapse: collapse;
}
.chocolate-factory-container th, .chocolate-factory-container td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
.chocolate-factory-container th {
    background-color: #f2f2f2;
}
.chocolate-factory-container button {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 60%;
}
.modal-content input {
    width: 95%;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
.factory-details {
    margin-bottom: 20px;
}
.factory-details p {
    font-size: 18px;
    margin: 10px 0;
}
.actions {
    text-align: center;
}
button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 16px;
}
.delete-btn {
    background-color: red;
    color: white;
    border: none;
}
.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}
.factory-details #logo {
    width: 100%;
}

.table-container {
    width: 98%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.actions-btn {
    display: flex;
    gap: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container th, .table-container td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #4CAF50;
    color: white;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.table-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.table-container button:hover {
    background-color: #45a049;
}
#openWorkerModalBtn, #openChocolateModalBtn {
    width: 30%;
    margin-bottom: 20px;
    float: right;
    background-color: darkgreen;
}

#chocolatesTable img {
    width: 60px;
}